@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: rgb(249,255,113);
background: linear-gradient(90deg, rgba(249,255,113,1) 0%, rgba(92,255,119,1) 41%, rgba(88,136,255,1) 100%);
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;

}
.painel{
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 25px;
    color: antiquewhite;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: flex 0.8s ease-in;
}

.painel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}

.painel.ativo{
    flex: 5;
}

.painel.ativo h3{
    opacity: 1;
}

 @media (max-width: 480px) {
    .container{
        width: 100vw;
    }

    .painel:nth-of-type(4),
    .painel:nth-of-type(5){
        display: none;
    }
} 
